html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    padding: 25px 0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    position: fixed;
    top: 0;
    transition: 0.4s;
}

*, *::before,*:after {
    box-sizing: border-box;
}

body {
    font-size: 16px; /* 1rem = 10px*/
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
/*header con navegacion del sitio*/
header {
    background-color:#61dafb;
    width: 100%;
}
.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1335px){
    .header-nav-list{
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 100%;
    }

}
.header-nav-list {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    list-style: none;
    display: flex;
    margin-left: 60%;
}
.header-nav-list-item  a:hover {
    background-color:#8338ec;
    transition: ease-in .4s;
}

.button1 {
    background-color: #8338ec;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border: none;
}

.button1:hover {
    cursor: pointer;
}
/*header con navegacion del sitio*/

/*Presentacion*/
@media (max-width: 990px){
    .section{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 60%;
    background-color: navy;
    }

}
@media (max-width: 990px){
    .section-presentacion{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 60%;
    background-color: navy;
    }

}
.section {
    display: flex;
    justify-content: center;
    padding: 130px 30px 130px;
    margin: 1rem;
    text-align: center;
}
.about-section {
    flex-direction: row;
    width: 100%;
}
.section-presentacion {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
.about-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.nombre {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}
h1 {
    font-size: 60px;
    font-weight: 900;
}
.nombre1 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #8338ec;
}

.about-descripcion {
    color: #616161;
    font-size: 16px;
    margin-bottom: 40px;
}

.button {
    background-color: #8338ec;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: black;
}

img {
    display: block;
    width: 130%;
    padding: 1rem;
}

/*INICIO DE MIS COCOCIMIENTOS*/

.section2 {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}
.section {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 130px 100px 130px;
}

.div-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    padding: 130px 100px 130px;

}

.primero {
    font-size: 45px;
    font-weight: 900;
}

.article-icon {
    width: 300px;
    height: 200px;
}
.articulos-ordenados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    padding: 6rem;
}

.article-icon {
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
}

.fa-brands {
    font-size: 4.71em;
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
}

.titulo-icono {
    font-size: 1.25em;
    font-weight: 700;
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3-alt {
    color: #3d8fc6;;
}

.fa-sass {
    color: #c69;
}

.fa-js {
    color: #f0db4f;
}

.fa-react {
    color: #61dafb;;
}

.fa-git-alt {
    color: #f34f29;;
}
/*FIN DE MIS CONOCIMIENTOS*/

/*INICIO DE CITA*/

.section-cita {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #8338ec; ;
    padding: 110px 40px 130px ;
}

.section-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.fa-quote-right {
    font-size: 8rem;
    color:  white;
}

.cita-p {
    font-size: 2rem;
    max-width: 600px;
}

.cita-h3 {
    font-size: 1.69em;
    color: white;
    margin-bottom: 0;
}
/*FIN DE CITA*/

/*MIS PROYECTOS */

.mis-proyectos {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
}

.section15 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 130px 100px 130px;
}

.proyecto-terminado {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    padding: 130px 100px 130px;
}

.tercero {
    font-size: 45px;
    font-weight: 900;
}

.art {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px;
    padding: 30px;
}

.articulos-desordenados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    padding: 6rem;
}

.imagenes-proyecto {
    font-size: 4.71em;
    margin-bottom: 20px;
    display: block;
    width: 90%;
}

.art-p {
    font-size: 1.25em;
    font-weight: 700;
}
/*FIN DE MIS PROYECTOS*/

/*INICIO DE FORMULARIO*/

.contact-formulario {
    background-color: aliceblue;
    padding-top: 200px;
}
.section-formulario {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
.contenido-info {
    display: flex;
    text-align: left;
    background-color: #ffffff;
    padding: 80px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;

}
.escribime {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    width: 50%;
}


.contactame {
    text-align: left;
    background-color: #ffffff;
    padding: 80px 60px;
    border-radius: 15px;
    width: 50%;
}

.titulo {
    font-size: 45px;
    font-weight: 900;
}

.parrafo-form {
    line-height: 1.4;
}

.class-lista-formulario {
    list-style: none;
    text-decoration: none;
    width: 40%;
}

.form1 {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
}
.icono {
    font-size: 2rem;
    color:#8338ec;
}
a {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 100px;
    text-decoration: none;
    color:#8338ec; 
}
.formulario {
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario-fieldset {
    border: none;
}

label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
}

input {
    border: 0;
    border-radius: 20px;
    background-color: whitesmoke;
    border: 1px solid #f6f7fb;
    padding: 10px 15px;
    display: block;
    width: 100%;
    outline: none;
}
.alinear-derecha {
width: 133px;
height: 119px;
}
/*FIN DE FORMULARIO*/

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #8338ec; ;
    padding: 110px 40px 130px
}

.navegacion-footer {
    display: flex;
    width: 80%;
    justify-content: end;

}

.ul-menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 90%;
    font-size: 18px;
    line-height: 1.5;
    
}
.li-footer {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    border-radius: 100px;
    text-decoration: none;
    
}
.footer-icono {
    border-radius: 50%;
    width: 2.7rem;
    margin: 10px;
    display: block;
}

.ul-menu-iconos {
    display: flex;
    list-style: none;
}
.icon {
    display: block;
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    color: #8338ec;
    border-radius: 50%;
    font-size: 1.2rem;
    line-height: 2.7rem;
    text-align: center;
}
/*fin de footer*/